@model IEnumerable<mobu_backend.Models.Registados_Salas_Jogo>

@{
    ViewData["Title"] = "Índice";
}

<h1>Índice</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDRegisto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFundador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDRegisto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.NomeUtilizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFundador)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new { id=item.IDRegisto })
            </td>
        </tr>
}
    </tbody>
</table>
