@using Microsoft.AspNetCore.Identity;
@model IEnumerable<mobu_backend.Models.Admin>

@inject IHttpContextAccessor http;

@{
    ViewData["Title"] = "Índice";
    var request = http.HttpContext.Request;

}

<h1>Índice</h1>
    @if (User.IsInRole("Boss"))
    {
        <p>
            <a asp-action="Create">Criar Administrador</a>
        </p>
    }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Fotografia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                 <img style="height:75px;" src=@("https://" + request.Host.ToString() + "/imagens/" + item.NomeFotografia) />     @*DisplayFor(modelItem => item.Fotografia)*@
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IDAdmin">Detalhes</a>
                @if (User.IsInRole("Boss") && User.Identity.Name != item.NomeAdmin)
                {
                    <span> | </span> <a asp-action="Edit" asp-route-id="@item.IDAdmin">Editar</a>
                    <span> | </span> <a asp-action="Delete" asp-route-id="@item.IDAdmin">Apagar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
