@model IEnumerable<mobu_backend.Models.Mensagem>

@{
    ViewData["Title"] = "Índice";
}

<h1>Índice</h1>

<p>
    <a asp-action="Create">Criar Mensagem</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDMensagemSala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remetente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConteudoMsg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoMensagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDMensagemSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remetente.NomeUtilizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.NomeSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConteudoMsg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoMensagem)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IDMensagemSala }) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.IDMensagemSala }) |
                @Html.ActionLink("Apagar", "Delete", new { id=item.IDMensagemSala })
            </td>
        </tr>
}
    </tbody>
</table>
