@model IEnumerable<mobu_backend.Models.Amigo>

@{
    ViewData["Title"] = "Índice";
}

<h1>Índice</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDAmizade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonoListaAmigos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDAmigo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDAmizade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonoListaAmigos.NomeUtilizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDAmigo)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new { id=item.IDAmizade })
            </td>
        </tr>
}
    </tbody>
</table>
