@model IEnumerable<mobu_backend.Models.Amigo>

@inject mobu_backend.Data.ApplicationDbContext context

@{
    ViewData["Title"] = "Índice";
}

<h1>Índice</h1>

<p>
    <a asp-action="Create">Criar Amigo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDAmizade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonoListaAmigos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bloqueado)
            </th>
            <th>
                Amigo/a
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDAmizade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonoListaAmigos.NomeUtilizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bloqueado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => context.UtilizadorRegistado
                    .Where(u => u.IDUtilizador == item.IDAmigo)
                    .Select(u => u.NomeUtilizador)
                    .ToArray()[0])
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.IDAmizade">Detalhes</a> | 
            
                <a asp-action="Edit" asp-route-id="@item.IDAmizade">Editar</a> | 
            
                <a asp-action="Delete" asp-route-id="@item.IDAmizade">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
