@model mobu_backend.Models.Utilizador_Anonimo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Utilizador_Anonimo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUtilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUtilizador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoIPv4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoIPv4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoIPv6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoIPv6)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDUtilizador">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
