@model IEnumerable<mobu_backend.Models.DestinatarioPedidosAmizade>

@inject mobu_backend.Data.ApplicationDbContext context

@{
    ViewData["Title"] = "Índice";
}

<h1>Índice</h1>

<p>
    <a asp-action="Create">Criar pedido de amizade</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemetentePedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDDestinatarioPedido)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.EstadoPedido)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemetentePedido.NomeUtilizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => context.UtilizadorRegistado
                .Where(u => u.IDUtilizador == item.IDDestinatarioPedido)
                .Select(u => u.NomeUtilizador)
                .ToArray()[0])
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.EstadoPedido)
            </td>*@
            <td>
                <a asp-action="Details" asp-route-id="@item.IDPedido">Detalhes</a> |
                <a asp-action="Edit" asp-route-id="@item.IDPedido">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.IDPedido">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
