@model IEnumerable<mobu_backend.Models.PedidosAmizade>

@{
    ViewData["Title"] = "Índice";
}

<h1>Índice</h1>

<p>
    <a asp-action="Create">Criar novo pedido de amizade</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonoListaPedidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remetente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonoListaPedidos.NomeUtilizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remetente.NomeUtilizador)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdPedido">Detalhes</a> |
                <a asp-action="Edit" asp-route-id="@item.IdPedido">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPedido">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
