@model mobu_backend.Models.Salas_Chat

@inject IHttpContextAccessor http;

@{
    ViewData["Title"] = "Apagar";
    var request = http.HttpContext.Request;
}

<h1>Apagar</h1>

<h3>Tem a certeza que deseja apagar isto?</h3>
<div>
    <h4>Salas de Chat</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDSala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDSala)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeSala)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeSala)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeGrupo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeGrupo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFotografia)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.DataFotografia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeFotografia)
            <img style="height:75px;" src=@("https://" + request.Host.ToString() + "/imagens/" + Model.NomeFotografia) />
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IDSala" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à lista</a>
    </form>
</div>
