@model IEnumerable<mobu_backend.Models.Salas_Chat>

@inject IHttpContextAccessor http;

@{
    ViewData["Title"] = "Índice";

    var request = http.HttpContext.Request;
}

<h1>Índice</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDSala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeSala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeGrupo)
            </th>
            <th>
                Fotografia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeGrupo)
            </td>
            <td>
                <img style="height:75px;" src=@("https://" + request.Host.ToString() + "/imagens/" + item.NomeFotografia) />
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.IDSala">Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
