@model IEnumerable<mobu_backend.Models.Registados_Salas_Chat>

@{
    ViewData["Title"] = "Índice";
}

<h1>Índice</h1>

<p>
    <a asp-action="Create">Criar Novo Membro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDRegisto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDRegisto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.NomeUtilizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.NomeSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new {id=item.IDRegisto}) |
                    @Html.ActionLink("Detalhes", "Details", new {id=item.IDRegisto}) |
                    @Html.ActionLink("Apagar", "Delete", new {id=item.IDRegisto})
            </td>
        </tr>
}
    </tbody>
</table>
