@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">@Html.ActionLink("Administradores","Index","Admin", new {area = ""}, new {@class = "nav-link text-dark"})</li>
    <li class="nav-item">@Html.ActionLink("Amigos","Index","Amigo", new {area = ""}, new {@class = "nav-link text-dark"})</li>
    <li class="nav-item">@Html.ActionLink("Destinatários de Pedidos","Index","Destinatario_Pedidos_Amizade", new {area = ""}, new {@class = "nav-link text-dark"})</li>
    <li class="nav-item">@Html.ActionLink("Registados Salas Chat","Index","Registados_Salas_Chat", new {area = ""}, new {@class = "nav-link text-dark"})</li>
    <li class="nav-item">@Html.ActionLink("Registados Salas Jogo","Index","Registados_Salas_Jogo", new {area = ""}, new {@class = "nav-link text-dark"})</li>
    <li class="nav-item">@Html.ActionLink("Salas Jogo","Index","Sala_Jogo_1_Contra_1", new {area = ""}, new {@class = "nav-link text-dark"})</li>
    <li class="nav-item">@Html.ActionLink("Salas Chat","Index","Salas_Chat", new {area = ""}, new {@class = "nav-link text-dark"})</li>
    <li class="nav-item">@Html.ActionLink("Registados","Index","Utilizador_Registado", new {area = ""}, new {@class = "nav-link text-dark"})</li>
    <li class="nav-item">@Html.ActionLink("Anónimos","Index","Utilizador_Anonimo", new {area = ""}, new {@class = "nav-link text-dark"})</li>
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Gerir Conta">Olá @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
        </li>
    }
    else
    {
        if (!await RoleManager.RoleExistsAsync("Boss"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Registar</a>
            </li>
        }
        
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
